h1, h2, h3 {
  font-family: sans-serif;
}

h2 {
  padding-top: 2%;
}

h3 {
  width: 100%;
  padding-bottom: 2px;
  font-size: 18px;
}

body {
  font-family: 'Public Sans', sans-serif;
  display: block;
  margin: 8px;
  background-color: #F0F8FF;
}

div.main {
  max-width: 700px;
  margin: 0 auto;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.story {
  font-size: 15px;
}

.firstsentence {
  padding-top: 1%;
}

.maptext {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map {
  flex-basis: 40%
}

.balkanroute {
  font-size: 15px;
  padding-left: 20px;
}

figcaption {
  font-size: 10px;
}


article {
  /* Write stuff here to apply to whole ARTICLE in html, including writing and icons */
}
/* Comment in CSS = Command + slash */
/* at - media will change how the CSS looks depending on the screen size,
like if you are viewing the page on your phone */

div.column-1, div.column-2, div.column-3 {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

div.icon {
  flex-wrap: wrap;
  display: flex;
}

div.icon-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 15px;
  border: 2px solid black;
  background-color: lightgrey;
  width: 300px;
  margin: 5%;
  padding: 20%;
}

.main_img {
  float: left;
  max-width: 150px;
  height: auto;
  object-fit: contain;
}

footer {
  font-size: 11px;
  padding-top: 10px;
  padding-bottom: 10%;
}

@media (max-width: 700px) {
  .icon {
    flex: 100%;
  }
